/*header related css*/
header{
	background-image: url(img/coffee.png);
}
hr.star-light {
    border-color:transparent;
}

hr.star-light:after {
    background-color:transparent;
    color: #fff;

}

/*about related css*/

section.success{
  background: white;
  color: #333;
}
section.success hr.star-light{
	border-color:#2C3E50;
}
section.success hr.star-light:after{
	color: #2C3E50;
	background-color:#fff;
}

/*portfolio related css*/
#portfolio{
	 background:#2C3E50;
	 color: #fff;
}

#portfolio hr.star-primary{
	border-color:#fff;
}
#portfolio hr.star-primary:after {
    background-color:#2C3E50;
    color: #fff;
}


/*portfolio modals*/
.modal-body {
    position: relative;
    padding: 0px;
}
.col-lg-8{
	padding-right: 0px;
	padding-left: 0px
}


